
<!DOCTYPE HTML>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
    <meta name="author" content="Agência Slim" />
    <meta property="og:image" content="http://www.sosestudos.com/thumb.jpg" />
        <title>contato | SOS Estudos</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
        <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet/less" type="text/css" href="/css/all.less"/>

    <!-- LESS -->
    <script src="/js/less.js"></script>

    <!-- jQuery Library -->
    <script src="/js/jquery.min.js"></script>

    <!-- jQuery Cycle -->
    <script src="/js/jquery.cycle.all.js"></script>

    <!-- jQuery Cycle -->
    <script src="/js/jcarousel.js"></script>

    <!-- Modernizr -->
    <script src="/js/modernizr.js"></script>

    <!-- Funções Básicas -->
    <script src="/js/funcoes.js"></script>

    <!-- Mask -->
    <script src="/js/mask.js"></script>

    <!-- Shadowbox -->
    <link rel="stylesheet" type="text/css" href="/css/shadowbox.css">
    <script type="text/javascript" src="/js/shadowbox.js"></script>
    <script type="text/javascript">
        Shadowbox.init();
    </script>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39227520-50', 'sosestudos.com');
    ga('send', 'pageview');
    </script>

</head>

<body>
    <div class="header">
        <div class="menu">
            <div class="limite">
                <ul class="barLeft">
                    <a href="/site/index" title="Página Inicial"><li class="home" style="padding:0;">Home</li></a>
                    <a href="/site/empresa" title="A empresa"><li class="aEmpresa">A empresa</li></a>
                    <a href="/site/equipe" title="Equipe"><li class="nossaEquipe">Equipe</li></a>
                    <a href="/site/professores" title="Professores" style="margin-right:0;"><li class="professores">Professores</li></a>
                </ul><!-- barLeft -->

                <a href="/site/index" title="sos - estudos" class="logo"><img src="/images/logos/sos-estudos.png" height="119" width="143" alt="sos - estudos"></a>

                <ul class="barRight">
                    <a href="/site/missao" title="Nossa Missão"><li class="nossaMissao">Nossa Missão</li></a>
                    <a href="/site/depoimentos" title="Depoimentos"><li class="depoimentosMenu">Depoimentos</li></a>
                    <a href="/site/faq" title="Faq"><li class="faq">Faq</li></a>
                    <a href="/site/contatos" title="Contatos" style="margin-right:0;"><li class="contato">Contato</li></a>
                </ul><!-- barRight -->

                <a href="/site/trabalheconosco" class="estamosContratando"><img src="/images/icones/estamos-contratando.png" height="30" width="191" alt="estamos contratando"></a>
            </div><!-- limite -->
        </div><!-- menu -->

      <div class="tituloInterna">
         <div class="limite">
            <h1>CONTATO</h1>         </div>
      </div><!-- tituloInterna -->
  </div><!-- header -->

     <div class="conteudo">
    <div class="limite">
      <div class="cLeft">
        <div class="contatos">
          <p>Nossa empresa conta com uma equipe multidisciplinar trabalhando 24 horas para atender as demandas dos nossos alunos – sempre caso a caso. Digite seus dados e o motivo da sua requisição e espere o nosso contato dentro de 30 minutos.</p>

          <form action="/site/emailcontact" name="contato" onSubmit="return validarContato();" method="post">
            <fieldset>
              <div class="separaInput">
                <input type="text" value="Nome" name="nome" id="nome">
              </div>

              <div class="separaInput">
                <input type="text" value="E-mail" name="email" id="email">
              </div>

              <div class="separaInput">
                <input type="text" value="Telefone" id="tel" name="telefone">
              </div>

              <div class="separaInput">
                <input type="text" value="Cidade" id="cidade" name="cidade">


                <select name="uf" id="estado">
                  <option value="0">UF</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AM">AM</option>
                  <option value="AP">AP</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RO">RO</option>
                  <option value="RS">RS</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SE">SE</option>
                  <option value="SP">SP</option>
                  <option value="TO">TO</option>
                </select>
              </div>

              <div class="separaInput">
                <textarea name="mensagem">Mensagem</textarea>
              </div>


              <input type="submit" value="">


                <% if(message) { %>
                    <p style="color: green"><%= message %></p>
                <% } %>
            </fieldset>
          </form>

         <!--  <div class="enderecos">
            <div class="shadow"><img src="/images/bgs/shadow-contatos.png" height="279" width="24" alt="shadow"></div>
            <ul>
              <li>
                <img src="/images/titulos/unidade-salvador.png" height="18" width="177" alt="unidade salvador">

                <span>Rua Borges dos Reis, 218, Rio Vermelho.
                CEP 41.950-600 | Salvador-Bahia.
                salvador@sosestudos.com</span>
              </li>
              <li>
                <img src="/images/titulos/unidade-feira.png" height="16" width="138" alt="unidade feira">

                <span>Rua Alto da Serra, 313 - Bairro SIM. CEP 44.550-700 | Feira de Santana-Bahia.
                feira@sosestudos.com</span>
              </li>
            </ul>
          </div> -->
        </div><!-- contatos -->
      </div><!-- cLeft -->

      <div class="cRight">
  <ul>
        <a href="/site/empresa">
      <li>
        <img src="/images/logos/img-chamada-aside-a-empresa.jpg" height="68" width="89" alt="a empresa">

        <div class="desc">
          <div class="tit"><img src="/images/titulos/tit-a-empresa-aside.jpg" height="14" width="94" alt="a empresa"></div>

          <p>Fornecemos um serviço de reforço escolar personalizado – com excelência e baixo custo. <strong>Saiba mais.</strong></p>
        </div><!-- desc -->
      </li>
    </a>

        <a href="/site/professores">
      <li>
        <img src="/images/logos/img-chamada-aside-professores.jpg" height="68" width="89" alt="professores">

        <div class="desc">
          <div class="tit"><img src="/images/titulos/tit-professores-aside.jpg" height="15" width="116" alt="professores"></div>

          <p>Conheça os profissionais capacitados que se dedicam a ensinar diferente e de forma eficiente. <strong>Conheça-os.</strong></p>
        </div><!-- desc -->
      </li>
    </a>

        <a href="/site/faq">
      <li>
        <img src="/images/logos/img-chamada-aside-faq.jpg" height="87" width="89" alt="faq">

        <div class="desc">
          <div class="tit"><img src="/images/titulos/tit-faq-aside.jpg" height="15" width="47" alt="faq"></div>

          <p>Confira a lista das dúvidas e perguntas mais frequentes entre pais e alunos referente aos serviços. <strong>Acessar.</strong></p>
        </div><!-- desc -->
      </li>
    </a>

      </ul>
</div><!-- cRight -->    </div><!-- limite -->
   </div><!-- conteudo -->

     <div class="footer">
    <div class="limite" style="background:url(/images/bgs/bg-footer-contatos.jpg) no-repeat right bottom;">
      <div class="col1">
        <img src="/images/titulos/tit-nossos-escritorios.png" height="28" width="233" alt="nossos escritórios" class="tit">

        <span>Salvador</span>

        <p>
          Rua Borges dos Reis, 218 <br>
          Rio Vermelho, 41.950-600
          <br><br>
          <strong><u>salvador@sosestudos.com</u></strong>
        </p>
      </div><!-- 1Col -->

      <div class="col2">
        <span>Feira de Santana</span>

        <p>
          Rua Alto da Serra, 313 <br>
          Bairro SIM, 44.550-700
          <br><br>
          <strong><u>feira@sosestudos.com</u></strong>
        </p>
      </div><!-- 2Col -->

      <div class="col3">

      </div><!-- 3Col -->
    </div><!-- limite -->
   </div><!-- footer -->

   <script type="text/javascript"> localStorage.clear(); </script>
</body>
</html>
