
<!DOCTYPE HTML>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
    <meta name="author" content="Agência Slim" />
    <meta property="og:image" content="http://www.sosestudos.com/thumb.jpg" />
        <title>Faq | SOS Estudos</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
        <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet/less" type="text/css" href="/css/all.less"/>

    <!-- LESS -->
    <script src="/js/less.js"></script>

    <!-- jQuery Library -->
    <script src="/js/jquery.min.js"></script>

    <!-- jQuery Cycle -->
    <script src="/js/jquery.cycle.all.js"></script>

    <!-- jQuery Cycle -->
    <script src="/js/jcarousel.js"></script>

    <!-- Modernizr -->
    <script src="/js/modernizr.js"></script>

    <!-- Funções Básicas -->
    <script src="/js/funcoes.js"></script>

    <!-- Mask -->
    <script src="/js/mask.js"></script>

    <!-- Shadowbox -->
    <link rel="stylesheet" type="text/css" href="/css/shadowbox.css">
    <script type="text/javascript" src="/js/shadowbox.js"></script>
    <script type="text/javascript">
        Shadowbox.init();
    </script>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39227520-50', 'sosestudos.com');
    ga('send', 'pageview');
    </script>


    <script type="text/javascript">
      $(function(){
        var allPanels = $('.resp').hide();
        $('.perg').click(function(){
          allPanels.slideUp(600);
            $(this).parent().next().slideDown(600);
            return false;
        });
      });
    </script>
</head>

<body>
    <div class="header">
        <div class="menu">
            <div class="limite">
                <ul class="barLeft">
                    <a href="/site/index" title="Página Inicial"><li class="home" style="padding:0;">Home</li></a>
                    <a href="/site/empresa" title="A empresa"><li class="aEmpresa">A empresa</li></a>
                    <a href="/site/equipe" title="Equipe"><li class="nossaEquipe">Equipe</li></a>
                    <a href="/site/professores" title="Professores" style="margin-right:0;"><li class="professores">Professores</li></a>
                </ul><!-- barLeft -->

                <a href="/site/index" title="sos - estudos" class="logo"><img src="/images/logos/sos-estudos.png" height="119" width="143" alt="sos - estudos"></a>

                <ul class="barRight">
                    <a href="/site/missao" title="Nossa Missão"><li class="nossaMissao">Nossa Missão</li></a>
                    <a href="/site/depoimentos" title="Depoimentos"><li class="depoimentosMenu">Depoimentos</li></a>
                    <a href="/site/faq" title="Faq"><li class="faq">Faq</li></a>
                    <a href="/site/contatos" title="Contatos" style="margin-right:0;"><li class="contato">Contato</li></a>
                </ul><!-- barRight -->

                <a href="/site/trabalheconosco" class="estamosContratando"><img src="/images/icones/estamos-contratando.png" height="30" width="191" alt="estamos contratando"></a>
            </div><!-- limite -->
        </div><!-- menu -->

      <div class="tituloInterna">
         <div class="limite">
            <h1>FAQ</h1>         </div>
      </div><!-- tituloInterna -->
  </div><!-- header -->







     <div class="conteudo">
    <div class="limite">
      <div class="cLeft">
        <div class="faq">
          <strong>Tire as principais dúvidas sobre a nossa empresa.</strong>

          <ul>
            <li>
              <img src="/images/icones/01.png" height="47" width="47" alt="01" class="posicao">
              <span>O que é a SOS Estudos?</span>
              <p>Somos uma empresa especializada na capacitação e alocação de profissionais de ensino, visando atender estudantes de todas as idades com algum tipo de carência escolar. Por isso criamos um sistema único, que administra e desloca profissionais capacitados em suas respectivas competências técnicas para desenvolver o potencial de cada aluno em sua individualidade. Trata-se de uma meta ambiciosa: levar aos estudantes o reforço individualizado que necessitam para conquistar boas notas e aprender a gostar de estudar.</p>
              <img src="/images/icones/seta-baixo-faq.jpg" height="10" width="24" alt="seta para baixo" class="seta1">
            </li>

            <li>
              <img src="/images/icones/02.png" height="49" width="48" alt="02" class="right">
              <span>Por que eu preciso da SOS Estudos?</span>
              <p>Desinteresse pelas aulas, baixa atenção no ensino e notas baixas são as queixas mais frequentes entre os pais que procuram o serviço de reforço escolar SOS Estudos para o seu filho. Para a empresa, estes problemas são levados a sério – sempre entendidos como sintomas, e nunca como causas do problema da aprendizagem. Cada diagnós- tico é individualizado, revisado por uma equipe disciplinar de apoio e conduzido por um professor responsável pela aplicação de uma Fórmula de Sucesso®.</p>
              <img src="/images/icones/seta-baixo-faq.jpg" height="10" width="24" alt="seta para baixo" class="seta2">
            </li>

            <li>
              <img src="/images/icones/03.png" height="47" width="47" alt="03" class="posicao">
              <span>Quanto tempo devo esperar para ver resultados?</span>
              <p>A Receita de Sucesso® é uma fórmula desenvolvida pela SOS Estudos com foco em resultados de médio e longo prazo. O aluno trava contato com o aprendizado sequen- cial revisado, que rastreia dúvidas, resolve dificuldades na raiz e insere no seu cotidia- no a prática de apreender, revisar e aprender. O professor contratado pela empresa, além de providenciar emergências de aprendizado, media os estímulos do aluno com a disciplina no objetivo de fazê-lo tomar consciência de sua própria evolução. Em questão de semanas os resultados começam a aparecer. </p>
              <img src="/images/icones/seta-baixo-faq.jpg" height="10" width="24" alt="seta para baixo" class="seta1">
            </li>

            <li>
              <img src="/images/icones/04.png" height="47" width="47" alt="04" class="right">
              <span>O que é a nossa Fórmula de Sucesso®?</span>
              <p>Partimos do princípio de cada aluno tem carências e potencialidades; o truque está em aplicar a metodologia testada da SOS Estudos para fazer com que estes múltiplos potenciais sejam empregados na solução destas carência. É um sistema de ciclo. Pelas regras da empresa, os professores são constantemente reciclados em sessões de capa- citação para aprender a despertar estes potenciais. A partir de um método simples (apresentação do assunto > prática > produção e revisão continuadas) o aluno é ins- tado a evoluir em etapas (sessões teóricas > sessões práticas > sessões lúdicas) até aprender a tomar gosto pelos estudos. Não há fórmula mágica. A relação professor- aluno se desenvolve espontaneamente, o que confere ao método um desenvolvimento natural. </p>
              <img src="/images/icones/seta-baixo-faq.jpg" height="10" width="24" alt="seta para baixo" class="seta2">
            </li>
          </ul>
        </div><!-- faq -->
      </div><!-- cLeft -->

      <div class="cRight">
  <ul>
        <a href="/site/empresa">
      <li>
        <img src="/images/logos/img-chamada-aside-a-empresa.jpg" height="68" width="89" alt="a empresa">

        <div class="desc">
          <div class="tit"><img src="/images/titulos/tit-a-empresa-aside.jpg" height="14" width="94" alt="a empresa"></div>

          <p>Fornecemos um serviço de reforço escolar personalizado – com excelência e baixo custo. <strong>Saiba mais.</strong></p>
        </div><!-- desc -->
      </li>
    </a>

        <a href="/site/professores">
      <li>
        <img src="/images/logos/img-chamada-aside-professores.jpg" height="68" width="89" alt="professores">

        <div class="desc">
          <div class="tit"><img src="/images/titulos/tit-professores-aside.jpg" height="15" width="116" alt="professores"></div>

          <p>Conheça os profissionais capacitados que se dedicam a ensinar diferente e de forma eficiente. <strong>Conheça-os.</strong></p>
        </div><!-- desc -->
      </li>
    </a>


        <a href="/site/contatos">
      <li>
        <img src="/images/logos/img-chamada-aside-fale-conosco.jpg" height="80" width="89" alt="fale conosco">

        <div class="desc">
          <div class="tit"><img src="/images/titulos/tit-fale-conosco-aside.jpg" height="15" width="133" alt="fale conosco"></div>

          <p>Entre em contato conosco através da nossa central de atendimento e receba todas informaçoes. <strong>Saiba mais.</strong></p>
        </div><!-- desc -->
      </li>
    </a>
      </ul>
</div><!-- cRight -->    </div><!-- limite -->
   </div><!-- conteudo -->

     <div class="clear"></div>

<div class="footer">
    <div class="limite">
      <div class="col1">
        <img src="/images/titulos/tit-nossos-escritorios.png" height="28" width="233" alt="nossos escritórios" class="tit">

        <span>Salvador</span>

        <p>
          Rua Borges dos Reis, 218 <br>
          Rio Vermelho, 41.950-600
          <br><br>
          <strong><u>salvador@sosestudos.com</u></strong>
        </p>
      </div><!-- 1Col -->

      <div class="col2">
        <span>Feira de Santana</span>

        <p>
          Rua Alto da Serra, 313 <br>
          Bairro SIM, 44.550-700
          <br><br>
          <strong><u>feira@sosestudos.com</u></strong>
        </p>
      </div><!-- 2Col -->

      <div class="col3">

      </div><!-- 3Col -->
    </div><!-- limite -->
   </div><!-- footer -->

   <script type="text/javascript"> localStorage.clear(); </script></body>
</html>
