
<!DOCTYPE HTML>
<html lang="pt-br">
<head>
            <meta charset="UTF-8">
    <meta name="author" content="Agência Slim" />
    <meta property="og:image" content="http://www.sosestudos.com/thumb.jpg" />
            <title>SOS Estudos - Aulas e Treinamentos particulares em Feira de Santana-Bahia</title>
        <meta name="description" content="SOS Estudos - Conheça nosso método de ensino, equipe qualificada e vantagens!" />
        <meta name="keywords" content="sos estudos, sos, estudos, aulas particulares, treinamentos particulares, aulas, treinamentos, particula, feira de santana, bahia" />
            <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet/less" type="text/css" href="/css/all.less"/>

    <!-- LESS -->
    <script src="/js/less.js"></script>

    <!-- jQuery Library -->
    <script src="/js/jquery.min.js"></script>

    <!-- jQuery Cycle -->
    <script src="/js/jquery.cycle.all.js"></script>

    <!-- jQuery Cycle -->
    <script src="/js/jcarousel.js"></script>

    <!-- Modernizr -->
    <script src="/js/modernizr.js"></script>

    <!-- Funções Básicas -->
    <script src="/js/funcoes.js"></script>

    <!-- Mask -->
    <script src="/js/mask.js"></script>

    <!-- Shadowbox -->
    <link rel="stylesheet" type="text/css" href="/css/shadowbox.css">
    <script type="text/javascript" src="/js/shadowbox.js"></script>
    <script type="text/javascript">
        Shadowbox.init();
    </script>

        <script type="text/javascript">
             $(document).ready(function(){
                $('.depoSlide > .main').cycle({
                    fx:     'scrollHorz',
                    startingSlide: 0,
                    speed:  500,
                    next:   '.next',
                    prev:   '.prev',
                    pause: true,
                    timeout: 8000
                });
            });
        </script>

        <script type="text/javascript">
        //    $(function() {
        //         $(".Col2 > .main").jCarouselLite({
        //             auto: 4000,
        //             speed: 1500,
        //             visible: 2,
        //             vertical: true,
        //             scroll: 1,
        //             btnPrev: ".prev2",
        //             btnNext: ".next2"
        //         });
        //     });
        </script>
</head>

<body>
     <div class="header">
        <div class="menu">
            <div class="limite">
                <ul class="barLeft">
                    <a href="/site/index" title="Página Inicial"><li class="home" style="padding:0;">Home</li></a>
                    <a href="/site/empresa" title="A empresa"><li class="aEmpresa">A empresa</li></a>
                    <a href="/site/equipe" title="Equipe"><li class="nossaEquipe">Equipe</li></a>
                    <a href="/site/professores" title="Professores" style="margin-right:0;"><li class="professores">Professores</li></a>
                </ul><!-- barLeft -->

                <a href="/site/index" title="sos - estudos" class="logo"><img src="/images/logos/sos-estudos.png" height="119" width="143" alt="sos - estudos"></a>

                <ul class="barRight">
                    <a href="/site/missao" title="Nossa Missão"><li class="nossaMissao">Nossa Missão</li></a>
                    <a href="/site/depoimentos" title="Depoimentos"><li class="depoimentosMenu">Depoimentos</li></a>
                    <a href="/site/faq" title="Faq"><li class="faq">Faq</li></a>
                    <a href="/site/contatos" title="Contatos" style="margin-right:0;"><li class="contato">Contato</li></a>
                </ul><!-- barRight -->

                <a href="/site/trabalheconosco" class="estamosContratando"><img src="/images/icones/estamos-contratando.png" height="30" width="191" alt="estamos contratando"></a>
            </div><!-- limite -->
        </div><!-- menu -->

        <div class="depoimentos">

            <div class="limite">
                <form action="">
                    <fieldset>
                        <div class="disciplina">
                            <select name="" style="width:163px;">
                                <option value="0">Selecione</option>
                                <option value="">Português</option>
                                <option value="">Matemática</option>
                                <option value="">Geografia</option>
                                <option value="">História</option>
                                <option value="">Inglês</option>
                                <option value="">Redação</option>
                                <option value=""> Física</option>
                                <option value=""> Química</option>

                                <!--<option value="">PORTUGUÊS</option>
                                <option value="">MATEMÁTICA</option>
                                <option value="">GEOGRAFIA</option>
                                <option value="">HISTÓRIA</option>
                                <option value="">INGLÊS</option>
                                <option value="">REDAÇÃO</option>
                                <option value="">FÍSICA</option>
                                <option value="">QUÍMICA</option>-->
                            </select>
                        </div>

                        <div class="pacote">
                            <select name="" style="width:209px;">
                                <option value="0">Selecione</option>
                                <option value="">Emergencial - 1 Aula</option>
                                <option value="">Pacote de 5 Aulas</option>
                                <option value="">Pacote de 10 Aulas</option>
                                <option value="">Pacote de 15 Aulas</option>
                                <option value="">Pacote de 30 Aulas</option>
                                <!--<option value="">EMERGÊNCIAL - 1 AULA</option>
                                <option value="">PACOTE DE 5 AULAS</option>
                                <option value="">PACOTE DE 10 AULAS</option>
                                <option value="">PACOTE DE 15 AULAS</option>
                                <option value="">PACOTE DE 30 AULAS</option>-->
                            </select>
                        </div>
                    </fieldset>
                </form>

            </div><!-- limite -->
        </div><!-- depoimentos -->
     </div><!-- header -->


     <div class="conteudo">
        <div class="limite">
            <div class="home">
            <div class="depoSlide">
                    <div class="main">
                        <div class="depoTop">
                            <img src="/images/depoimentos/foto-felipe-magalhaes.png" height="88" width="88" alt="felipe magalhães">

                            <span>Felipe Magalhães - 16 anos</span>

                            <p>“História e Geografia nunca pareceram tão divertidos. Muito obrigado aos professores da SOS Estudos.”</p>
                        </div>

                        <div class="depoTop">
                            <img src="/images/depoimentos/foto-erica-fagundes.png" height="88" width="88" alt="erica fagundes">

                            <span>Érica Fagundes - 14 anos</span>

                            <p>“Minha notas saíram do vermelho em um mes. Hoje disputo as melhores colocações na sala.”</p>
                        </div>

                        <div class="depoTop">
                            <img src="/images/depoimentos/foto-viviane-lima.png" height="88" width="88" alt="viviane lima">

                            <span>Viviane Lima - 17 anos</span>

                            <p>“Nunca pensei que notas altas fossem possíveis. Então conheci a SOS Estudos. O serviço, sem exageros, mudou a minha vida.”</p>
                        </div>

                        <div class="depoTop">
                            <img src="/images/depoimentos/foto-michele-dantas.png" height="88" width="88" alt="michele dantas">

                            <span>Michele Dantas - 19 anos</span>

                            <p>“A inscrição é rápida e o investimento garantido. Em 24 horas um tutor apareceu em minha casa e comecei a tirar a diferença em matemática.”</p>
                        </div>

                        <div class="depoTop">
                            <img src="/images/depoimentos/foto-marcio-pires.png" height="88" width="88" alt="márcio pires">

                            <span>Marcio Pires - 52 anos</span>

                            <p>“O serviço é ágil e os professores altamente qualificados. Meu filho aprendeu a gostar de estudar sem sair de casa.”</p>
                        </div>
                    </div>

                <ul class="controls">
                    <li class="prev"></li>
                    <li class="next"></li>
                </ul>
            </div><!--depoSlide -->

                <div class="Col3">
                    <div class="shadow"></div>

                        <img src="/images/titulos/tit-o-que-fazemos.jpg" height="35" width="123" alt="o que fazemos?" class="tit">

                        <p>
                            Bem-vindo ao maior portal de educação personalizada da Bahia. Somos um sistema inteligente desenhado para encurtar as distâncias entre estudantes e professores particulares.
                        </p>
                        <br>
                        <p>
                            Acreditamos que dificuldades na hora de escolher um tutor para você ou para o seu filho devem fazer parte do passado.
                        </p>
                        <br>
                        <p>
                            Por isso fique à vontade. Faça um tour pelo site e conheça porque a SOS Estudos é sinônimo de excelência no mercado de aulas personalizadas.
                        </p>
                </div><!-- 3Col -->
                <!--div class="Col2">
                    <img src="/images/titulos/tit-nossos-professores.jpg" height="35" width="157" alt="nossos professores" class="tit" -->

                    <!-- <ul class="btnsNossosProfessores">
                        <li class="prev2"></li>
                        <li class="next2"></li>
                    </ul> -->

                    <!--div class="main">
                        <ul>
                            <li>
                                <div class="descProf">
                                    <p>Esta sessão encontra-se em manutenção para melhor atendê-lo. Por favor aguarde. Em breve será inaugurada uma página interativa com os nossos tutores cadastrados.</p>
                                </div>
                            </li-->
                            <!--li>
                                <div class="descProf">
                                    <span>Luís Alberto - Matemática</span>

                                    <p>Formado em Matemática, Luis como é chamado, é professor dos Colégios Sartre e Mendel.</p>

                                    <a href="#" title="solicitar visita"><img src="/images/icones/solicitar-visita.jpg" height="23" width="98" alt="solicitar visita"></a>
                                </div>
                            </li>

                            <li>
                                <div class="descProf">
                                    <span>Luís Alberto - Matemática</span>

                                    <p>Formado em Matemática, Luis como é chamado, é professor dos Colégios Sartre e Mendel.</p>

                                    <a href="#" title="solicitar visita"><img src="/images/icones/solicitar-visita.jpg" height="23" width="98" alt="solicitar visita"></a>
                                </div>
                            </li-->
                        <!--/ul>
                    </div--><!-- main -->

                    <!--div class="shadow"></div>
                </div--><!-- 2Col -->

                <div class="Col1">
                    <img src="/images/titulos/tit-perguntas-e-respostas.jpg" height="35" width="154" alt="perguntas e respostas" class="tit">

                    <ul>
                        <a href="/site/faq">
                            <li><img src="/images/icones/1.jpg" height="33" width="35" alt="1"><span>O que é a SOS Estudos?​</span></li>
                        </a>
                        <a href="/site/faq">
                            <li><img src="/images/icones/2.jpg" height="33" width="35" alt="2"><span>Por que eu preciso da SOS Estudos?​</span></li>
                        </a>
                        <a href="/site/faq">
                            <li><img src="/images/icones/3.jpg" height="33" width="35" alt="3"><span>Quanto tempo devo esperar para ver resultados?</span></li>
                        </a>
                        <!--a href="/site/faq">
                            <li><img src="/images/icones/4.jpg" height="33" width="35" alt="4"><span>O que é a nossa Fórmula de Sucesso?</span></li>
                        </a-->
                    </ul>
                </div><!-- 1Col -->
            </div><!-- home -->
        </div><!-- limite -->
     </div><!-- conteudo -->


     <div class="clear"></div>

<div class="footer">
    <div class="limite">
      <div class="col1">
        <img src="/images/titulos/tit-nossos-escritorios.png" height="28" width="233" alt="nossos escritórios" class="tit">

        <span>Salvador</span>

        <p>
          Rua Borges dos Reis, 218 <br>
          Rio Vermelho, 41.950-600
          <br><br>
          <strong><u>salvador@sosestudos.com</u></strong>
        </p>
      </div><!-- 1Col -->

      <div class="col2">
        <span>Feira de Santana</span>

        <p>
          Rua Alto da Serra, 313 <br>
          Bairro SIM, 44.550-700
          <br><br>
          <strong><u>feira@sosestudos.com</u></strong>
        </p>
      </div><!-- 2Col -->

      <div class="col3">

      </div><!-- 3Col -->
    </div><!-- limite -->
   </div><!-- footer -->

   <script type="text/javascript"> localStorage.clear(); </script>
</body>
</html>
